{
  documentation: "http://ww1.microchip.com/downloads/en/DeviceDoc/22058c.pdf"
  symbol:
    width: 600
    pins: [
      [8, "VDD", "power", "l"]
      [4, "GND", "power", "n"]
      [1, "VoutA", "out", "r"]
      [3, "VinA+", "in", "l"]
      [2, "VinA-", "in", "l"]
      [5, "VinB+", "in", "l"]
      [6, "VinB-", "in", "l"]
      [7, "VoutB", "out", "r"]
    ]
  package:
    sop:
      pins: 8
      A: [1.75, 1.7]
      D: [5, 4.8]
      E: [6.1, 5.9]
      E1: [4, 3.8]
      e: 1.27
      b: [0.51, 0.31]
      L: [1.27, 0.4]
}