{
  documentation: "http://cache.freescale.com/files/32bit/doc/data_sheet/KL25P80M48SF0.pdf"
  symbol:
    width: 1000
    pins: [
      [3, "VDD", "power", "l"]
      [30, "VDD", "power", "l"]
      [48, "VDD", "power", "l"]
      [13, "VDDA", "power", "l"]
      [8, "VREGIN", "power", "l"]
      [7, "VOUT33", "supply", "r"]
      [1, "PTE0", "io", "l"]
      [2, "PTE1", "io", "l"]
      [4, "GND", "power", "n"]
      [5, "USB0_DP", "io", "r"]
      [6, "USB0_DM", "io", "r"]
      [9, "PTE20", "io", "l"]
      [10, "PTE21", "io", "l"]
      [11, "PTE22", "io", "l"]
      [12, "PTE23", "io", "l"]
      [14, "VREFH", "io", "l"]
      [15, "VREFL", "io", "l"]
      [16, "GND", "power", "n"]
      [17, "PTE29", "io", "l"]
      [18, "PTE30", "io", "l"]
      [19, "PTE31", "io", "l"]
      [20, "PTE24", "io", "l"]
      [21, "PTE25", "io", "l"]
      [22, "PTA0", "io", "l"]
      [23, "PTA1", "io", "l"]
      [24, "PTA2", "io", "l"]
      [25, "PTA3", "io", "l"]
      [26, "PTA4", "io", "l"]
      [27, "PTA5", "io", "l"]
      [28, "PTA12", "io", "l"]
      [29, "PTA13", "io", "l"]
      [31, "GND", "power", "n"]
      [32, "PTA18", "io", "l"]
      [33, "PTA19", "io", "l"]
      [34, "RESET", "io", "l"]
      [35, "PTB0", "io", "r"]
      [36, "PTB1", "io", "r"]
      [37, "PTB2", "io", "r"]
      [38, "PTB3", "io", "r"]
      [39, "PTB16", "io", "r"]
      [40, "PTB17", "io", "r"]
      [41, "PTB18", "io", "r"]
      [42, "PTB19", "io", "r"]
      [43, "PTC0", "io", "r"]
      [44, "PTC1", "io", "r"]
      [45, "PTC2", "io", "r"]
      [46, "PTC3", "io", "r"]
      [47, "GND", "power", "n"]
      [49, "PTC4", "io", "r"]
      [50, "PTC5", "io", "r"]
      [51, "PTC6", "io", "r"]
      [52, "PTC7", "io", "r"]
      [53, "PTC8", "io", "r"]
      [54, "PTC9", "io", "r"]
      [55, "PTC10", "io", "r"]
      [56, "PTC11", "io", "r"]
      [57, "PTD0", "io", "r"]
      [58, "PTD1", "io", "r"]
      [59, "PTD2", "io", "r"]
      [60, "PTD3", "io", "r"]
      [61, "PTD4", "io", "r"]
      [62, "PTD5", "io", "r"]
      [63, "PTD6", "io", "r"]
      [64, "PTD7", "io", "r"]
    ]
  package:
    qfp:
      pins: 64
      A: [1.6, 1.4]
      D: [12.1, 11.9]
      E: [12.1, 11.9]
      D1: [10.1, 9.9]
      E1: [10.1, 9.9]
      e: 0.5
      b: [0.27, 0.17]
      L: [0.75, 0.45]
}